{{- if .Site.Params.EnablePreviewFeatures }}
<div>
  <div class="tags">
    categories:
    {{ range $index, $value := .Params.categories -}}
      {{- if gt $index 0 }},&nbsp;{{ end -}}
      {{- $tag := partialCached "function/path.html" $value $value | printf "/categories/%v" | $.Site.GetPage -}}
      <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
    {{- end -}}
  </div>
  <div class="tags">
    tags:
    {{ range $index, $value := .Params.tags -}}
      {{- if gt $index 0 }},&nbsp;{{ end -}}
      {{- $tag := partialCached "function/path.html" $value $value | printf "/tags/%v" | $.Site.GetPage -}}
      <a href="{{ $tag.RelPermalink }}">{{ $tag.Title }}</a>
    {{- end -}}
  </div>
</div>
{{- end }}
