<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- SEO -->
  <title>{{- if .IsHome }}{{ .Site.Title }}{{- else }}{{ .Title }} &middot; {{ .Site.Title }}{{- end }}</title>
  {{- if .Description }}
    <meta name="description" content="{{ .Description }}">
  {{- else if .Site.Params.Description }}
    <meta name="description" content="{{ .Site.Params.Description }}">
  {{- end }}
  {{ if .Params.canonicalUrl }}
  <link rel="canonical" href="{{ .Params.canonicalUrl }}">
  {{ else }}
  <link rel="canonical" href="{{ .RelPermalink }}">
  {{ end }}

  <!-- CSS -->
  {{- $styleOptions := dict "outputStyle" "compressed" }}
  {{- $style := resources.Get "scss/tale.scss" | resources.ToCSS $styleOptions }}
  <style>{{ $style.Content | safeCSS }}</style>

  <!-- Favicon -->
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "images/favicon-32x32.png" | relURL }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "images/favicon-16x16.png" | relURL }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "images/apple-touch-icon.png" | relURL }}">

  <!-- RSS -->
  <link href="{{ with .OutputFormats.Get "RSS" }}{{ .Permalink }}{{ end }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />

  {{- $jsServerOptions := dict "minify" false }}
  {{- $jsBuildOptions := dict "minify" true "target" "es2015" }}
  {{- $jsOptions := cond (.Site.IsServer) $jsServerOptions $jsBuildOptions }}
  {{- $js := resources.Get "js/index.js" | js.Build $jsOptions | resources.Fingerprint "sha512" }}
  <script async type="text/javascript" src="{{ $js.Permalink }}" integrity="{{- $js.Data.Integrity }}"></script>
</head>
